@charset "utf-8";
/* CSS Document */




table, th, td
{
	border: 1px solid black;
	height: 30px;
	font-family: Arial;
}


tr:nth-child(even) {background-color: #00FFFF}
tr:hover {background-color: #800080}

input[type=email], input[type=password], input[type=number]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 115%;
	font-family: sans-serif;
}

#para1
{
	text-align: center;
	font-size: 130%;
	font-family: cursive;
	color: #680000;
}

#para2
{
    font-size: 110%;
		text-indent: 30px;
}

#para3
{
	font-size: 110%;
	text-indent: 13px;
	color: #330066;
}
